src/main/resources/wsdl/courses.wsdl

<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:sch="http://www.courseMgmt.com/courses" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.courseMgmt.com/courses" targetNamespace="http://www.courseMgmt.com/courses">
<wsdl:types>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://www.courseMgmt.com/courses">
<xs:element name="GetCourseInfoRequest">
<xs:complexType>
<xs:sequence>
<xs:element name="id" type="xs:int"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="GetCourseInfoResponse">
<xs:complexType>
<xs:sequence>
<!--  T  -->
<xs:element name="CourseInfo" type="tns:CourseInfo"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="GetAllCourseInfoRequest">
<xs:complexType> </xs:complexType>
</xs:element>
<xs:element name="GetAllCourseInfoResponse">
<xs:complexType>
<xs:sequence>
<!--  T  -->
<xs:element maxOccurs="unbounded" name="CourseInfo" type="tns:CourseInfo"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="DeleteCourseInfoRequest">
<xs:complexType>
<xs:sequence>
<xs:element name="id" type="xs:int"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="DeleteCourseInfoResponse">
<xs:complexType>
<xs:sequence>
<xs:element name="status" type="tns:Status"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:simpleType name="Status">
<xs:restriction base="xs:string">
<xs:enumeration value="SUCCESS"/>
<xs:enumeration value="FAILURE"/>
</xs:restriction>
</xs:simpleType>
<xs:complexType name="CourseInfo">
<xs:sequence>
<xs:element name="id" type="xs:int"/>
<xs:element name="description" type="xs:string"/>
<xs:element name="name" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:schema>
</wsdl:types>
<wsdl:message name="GetCourseInfoRequest">
<wsdl:part element="tns:GetCourseInfoRequest" name="GetCourseInfoRequest"> </wsdl:part>
</wsdl:message>
<wsdl:message name="GetAllCourseInfoResponse">
<wsdl:part element="tns:GetAllCourseInfoResponse" name="GetAllCourseInfoResponse"> </wsdl:part>
</wsdl:message>
<wsdl:message name="GetCourseInfoResponse">
<wsdl:part element="tns:GetCourseInfoResponse" name="GetCourseInfoResponse"> </wsdl:part>
</wsdl:message>
<wsdl:message name="DeleteCourseInfoRequest">
<wsdl:part element="tns:DeleteCourseInfoRequest" name="DeleteCourseInfoRequest"> </wsdl:part>
</wsdl:message>
<wsdl:message name="DeleteCourseInfoResponse">
<wsdl:part element="tns:DeleteCourseInfoResponse" name="DeleteCourseInfoResponse"> </wsdl:part>
</wsdl:message>
<wsdl:message name="GetAllCourseInfoRequest">
<wsdl:part element="tns:GetAllCourseInfoRequest" name="GetAllCourseInfoRequest"> </wsdl:part>
</wsdl:message>
<wsdl:portType name="CoursePort">
<wsdl:operation name="GetCourseInfo">
<wsdl:input message="tns:GetCourseInfoRequest" name="GetCourseInfoRequest"> </wsdl:input>
<wsdl:output message="tns:GetCourseInfoResponse" name="GetCourseInfoResponse"> </wsdl:output>
</wsdl:operation>
<wsdl:operation name="GetAllCourseInfo">
<wsdl:input message="tns:GetAllCourseInfoRequest" name="GetAllCourseInfoRequest"> </wsdl:input>
<wsdl:output message="tns:GetAllCourseInfoResponse" name="GetAllCourseInfoResponse"> </wsdl:output>
</wsdl:operation>
<wsdl:operation name="DeleteCourseInfo">
<wsdl:input message="tns:DeleteCourseInfoRequest" name="DeleteCourseInfoRequest"> </wsdl:input>
<wsdl:output message="tns:DeleteCourseInfoResponse" name="DeleteCourseInfoResponse"> </wsdl:output>
</wsdl:operation>
</wsdl:portType>
<wsdl:binding name="CoursePortSoap11" type="tns:CoursePort">
<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
<wsdl:operation name="GetCourseInfo">
<soap:operation soapAction=""/>
<wsdl:input name="GetCourseInfoRequest">
<soap:body use="literal"/>
</wsdl:input>
<wsdl:output name="GetCourseInfoResponse">
<soap:body use="literal"/>
</wsdl:output>
</wsdl:operation>
<wsdl:operation name="GetAllCourseInfo">
<soap:operation soapAction=""/>
<wsdl:input name="GetAllCourseInfoRequest">
<soap:body use="literal"/>
</wsdl:input>
<wsdl:output name="GetAllCourseInfoResponse">
<soap:body use="literal"/>
</wsdl:output>
</wsdl:operation>
<wsdl:operation name="DeleteCourseInfo">
<soap:operation soapAction=""/>
<wsdl:input name="DeleteCourseInfoRequest">
<soap:body use="literal"/>
</wsdl:input>
<wsdl:output name="DeleteCourseInfoResponse">
<soap:body use="literal"/>
</wsdl:output>
</wsdl:operation>
</wsdl:binding>
<wsdl:service name="CoursePortService">
<wsdl:port binding="tns:CoursePortSoap11" name="CoursePortSoap11">
<soap:address location="http://localhost:8080/ws"/>
</wsdl:port>
</wsdl:service>
</wsdl:definitions>